/* 
- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98   
*/

.container {
  /* 1140px */
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 4.4rem;
}

.primary-heading {
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: 2px;
  margin-bottom: 3.6rem;
}

.secondary-heading {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 4.2rem;
  color: #eee;
}

.tertiary-heading {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: #b197fc;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #b197fc;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #b197fc;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;

  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #9775fa;
  border-bottom: 2px solid transparent;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #333;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  background-color: #63e6be;

  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  background-color: transparent;
  color: #eee;
}

.tag {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  font-weight: 600;
}

.tag--html {
  background-color: #ff6b6b;
}

.tag--css {
  background-color: #74c0fc;
}

.tag--js {
  background-color: #ffe066;
}

.tag--react {
  background-color: #66d9e8;
}

.tag--express {
  background-color: #ffc078;
}
.tag--node {
  background-color: #69db7c;
}

.tag--mongo {
  background-color: #63e6be;
}

.tag--angular {
  background-color: #f06595;
}

.tag--redux {
  background-color: #4dabf7;
}

.tag--python {
  background-color: #e599f7;
}

.inline-block {
  display: inline-block !important;
}

.margin-right-sm {
  margin-right: 1.2rem;
}

.margin-right-md {
  margin-right: 2.4rem;
}

.center-text {
  text-align: center;
}

.grid {
  display: grid;
  column-gap: 6.2rem;
  row-gap: 6.2rem;
}

.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}
