/* 
- FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98   
*/

.container {
  /* 1140px */
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.primary-heading {
  font-weight: 700;
  font-size: 4.8rem;
  letter-spacing: 2px;
  margin-bottom: 3.6rem;
}

.secondary-heading {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  color: #eee;
}

.secondary-heading--dark {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
  color: #333;
}

.tertiary-heading {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: #b197fc;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #b197fc;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #b197fc;
  font-size: 1.4rem;
  padding-bottom: 0.2rem;

  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: #9775fa;
  border-bottom: 2px solid transparent;
}

.inline-block {
  display: inline-block !important;
}

.margin-right-sm {
  margin-right: 1.2rem;
}

.margin-right-md {
  margin-right: 2.4rem;
}
